
<div class="main-block component">
    <h2>What’s Next</h2>
    <h1>Get in touch!</h1>
    <p>
        I will be happy to receive your contact if you want to talk about new opportunities.
        <br>
        Write me, and I will reply as soon as I see your message. Simple one-page design that features
        <br>
        a profile letter with basic information about a person.
    </p>
    <div class="hello-button">
        <a href="mailto:guruavinashreddy6036@gmail.com">
            <button>Say Hello</button>
        </a>
    </div>
</div>
