<div class="col-12 main-block">
    <div class="col-md-6 image">
        <img src="../../../assets/images/software.png" alt="">
    </div>
    <div class="col-md-6 about-field">
        <h1>K Guru Avinash Reddy</h1>
        <h3>Front-End Developer!</h3>
        <div class="font-icons">
            <a href="https://www.linkedin.com/in/guru-avinash-reddy-k" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/k-guru-avinash-reddy/angular-portfolio" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="mailto:guruavinashreddy6036@gmail.com">
                <i class="fa-regular fa-envelope"></i>
            </a>
        </div>
        <a href="../../../assets/cv/Avinash_CV.pdf" target="_blank">
            <button>Download CV <i class="fa-solid fa-download"></i></button>
        </a>
    </div>
</div>